* {
  margin: 0;
  padding: 0;

  font-family: "Poppins", sans-serif;
  
  --primary: #23232e;
  --secondary: #141418;
  
  --text-primary: white;
  --text-secondary: rgb(216, 216, 216);

  --neon: 0 0 5px #fff, 0 0 10px #fff, 0 0 21px #fff;
  --nav-height: 10vh;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: calc(10px + 1vmin);
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1 {
  color: var(--text-primary);
  font-weight:500;
}

h2,
p {
  color: var(--text-primary);
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-size: calc(12px + 1vmin);

}

h3 {
  color: var(--text-secondary);
  font-weight: 400;
  font-size: calc(5px + 1vmin);
  letter-spacing: 0.5vmin;
  opacity: 0.5;
}

.App {
  height: 100vh;
  padding: 0 8vw;
  background-color: rgb(22, 23, 58, 1);
  overflow-x: hidden;

  /* Foggy background overlay */
  background-image: url("./img/fog/fog-background.png");
  background-size: cover;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
